<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Listar usuarios</title>
</head>
<body>
	<table>
			estos son los usuarios en la base de datos

		<thead>
		<tr>
			<td>#. identificacion</td>
			<td>Nombre</td>
			<td>Apellidos</td>

		</tr>
		</thead>
		<tbody>
			<br>
			{% if usuario %} 
				si hay usuarios				
			{% else %}
			no hay usuarios
			{% endif %}

			{% for datos in usuario  %}
			<tr>
			<td>{{ datos.identificacion }}</td>
			<td>{{ datos.nombre }}</td>
			<td>{{ datos.apellido}}</td>
						
		</tr>
			{% endfor %}
		</tbody>
	</table>
</body>
</html>