{% extends "admin/base_site.html" %}
{% load staticfiles %}

{% block title%} {{title}}{%endblock%}


{% block content %}

	


{% if title == "factura no encontrada" %}
	
		<div>
		<a href="{%url 'Propiedad:Solicitud_listar' %}" class="btn btn-success ribbon1 base">Ver mis facturas</a>
		{# <br> #}
	</div>	
{% else %}
{# {% include "Propiedad/InfoUnidad.html" %} #}
<h2>Detalle de factura:</h2>
{% if object_list %}
{# si hay detalles para esta factura #}
	<div class="table-responsivse scrolltable">          
		  <table class="table table-striped table-bordered table-hover table-condensed">
		    <thead>
		      <tr>
		      	<td><a href="">#</a></td>
		        {# <th><a href="">Propiedad</a></th> #}
		        <th><a href="">Tipo</a></th>
		        <th><a href="">Descripcion</a></th>
		        <th><a href="">Valor</a></th>
		        {# <th><a href="">Estado</a></th> #}
		        <th><a href="">Acciones</a></th>
		        {# <th><a href="">Responsable</a></th> #}
		        {# <th><a href="">Estado</a></th> #}
		        {# <th><a href="">Dia Corte</a></th> #}
		        {# <th><a href="">Acciones</a></th> #}
		    
		      </tr>
		    </thead>
		    <tbody>
		    	{% for detalle in object_list   %}	    	
		    	<tr>
		    		<td>{{forloop.counter}}</td>
		    		<td>
		    		{{detalle.tipo}}</td>
		    		<td>{{detalle.descripcion}}</td>
		    		<td>{{ detalle.valor}}</td>
		    		<td>
		    			<div class="btn-group">
     						 <a href=""><button type="button" class="btn btn-success">Ver Recibo</button></a>
     						 {# <a href="\..\admin/edificios/unidad/{{datos.id}}/change/">  #}
     						 {# <button type="button" class="btn btn-danger">Eliminar</button> #}
     						{# </a> #}
     					</div>
		    		</td>
		    	</tr>
		    {% endfor %}
		    </tbody>
		</table>
	</div>

{% else %}
	no hay detalles para esta factura

	{% endif %}

{% endif %}

{# {% include "Pagos/formatoFactura.html" %} #}
{% endblock %}