{% extends "admin/base_site.html" %}
{% load staticfiles %}
{% block title%} {{title}} {%endblock%}
{% block content %}

	<div>
		<a href="{%url 'Propiedad:Solicitud_crearBanco' %}" class="btn btn-success ribbon1 base">Agregar nuevo Banco</a>
	</div>	
	<br>
	<br>
{% if object_list %}
	<div class="table-responsive">          
	  <table class="table table-hover table-striped " >
	    <thead>
	      <tr>
	        <th ><a href="">Banco</a></th>      	
	        <th ><a href="">Tipo Cuenta</a></th>
	        {# <th ><a href="">#. identificacion</a></th> #}
	        <th ><a href="">#Cuenta</a></th>
	        <th ><a href="">Propiedad</a></th>
	        <th><a href="">Acciones</a></th>
	      </tr>
	    </thead>

	    
	    <tbody  class="text-center">
					{# {% for datos in propiedades  %} #}
					{% for datos in object_list  %}
						{# <td class="text-center"></td> #}
						<tr >
							<td> {{datos.banco}}</td>
							<td>{{datos.get_tipo_cuenta_display}}</td>
							<td>{{datos.num_cuenta}}</td>
							<td>{{datos.propiedad}} </td>
							<td>
							<div class="btn-group">
     							 <a href="{% url 'Propiedad:Solicitud_updateBanco' datos.id %}"><button type="button" class="btn btn-success">Editar</button></a>
     							 <a href="\..\admin/edificios/unidad/{{datos.id}}/change/"> 
     							 <button type="button" class="btn btn-danger">Eliminar</button>
     							</a>
						
							</div> 

							</td>
						</tr>

					{% endfor %}

	    </tbody>
	  </table>
	
  </div>
{% else %}
<h1>Lo sentimos no hay Bancos</h1>
{% endif %}

{% endblock %}